<table class="table table-bordered table-striped">
  <tr>
    <th>渠道名</th>
    <td>{{channel}}</td>
  </tr>
  <tr>
    <th>广告名</th>
    <td>{{ad_name}}</td>
  </tr>
  <tr>
    <th>包号</th>
    <td>{{cid}}</td>
  </tr>
</table>
<form action="{{API}}data-load/{{id}}" method="get" id="popup-form" target="_blank">
  <div class="alert alert-msg" style="display: none"></div>
  <div class="form-group">
    <label for="stat-range-start-date">开始日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="start-time" id="stat-range-start-date" data-format="YYYY-MM-DD" required>
    </div>
  </div>
  <div class="form-group">
    <label for="stat-range-end-date">结束日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="end-time" id="stat-range-end-date" data-format="YYYY-MM-DD" required>
    </div>
  </div>
</form>