<form class="form-horizontal Android model-editor {{pick province_type '' 'show-provinces'}}" method="post" enctype="multipart/form-data" id="ad-editor">
  <input type="hidden" name="ad_sdk_type" value="1">
  <fieldset>
    <a name="basic-info"></a>
    <legend>基础信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label">所属平台</label>
      <div class="col-sm-10 platform select-button">
        <input type="radio" name="ad_app_type" value="1" id="platform-android">
        <label for="platform-android" class="btn btn-primary">
          <i class="fa fa-android"></i> Android
        </label>
        <input type="radio" name="ad_app_type" value="2" id="platform-ios">
        <label for="platform-ios" class="btn btn-primary">
          <i class="fa fa-apple"></i> iPhone
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ad_name">广告名</label>
      <div class="col-sm-10">
        <input type="text" name="ad_name" id="ad_name" value="{{ad_name}}" class="form-control" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ad_type">广告类型</label>
      <div class="col-sm-10">
        <select name="ad_type" id="ad_type" class="form-control" required>
          <option value="">无分类</option>
          {{#each ad_types}}
          <option value="{{id}}">{{label}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label">广告描述</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="6" name="ad_desc" id="ad_desc" maxlength="45">{{ad_desc}}</textarea>
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">公司名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="corp" id="corp" value="{{corp}}" />
      </div>
    </div>
    <div class="form-group file">
      <label class="col-sm-2 control-label" for="ad_url">广告链接</label>
      <div class="col-sm-4 uploader" data-url="{{API}}file/" data-need-validate="true" data-accept="*.apk" id="app-uploader" data-name="ad_url">
        <div class="btn-group su-tabs">
          <button type="button" class="btn btn-info active" data-target="upload"><i class="fa fa-upload"></i> 上传安装包</button>
          <button type="button" class="btn btn-info" data-target="url"><i class="fa fa-link"></i> 输入网络地址</button>
        </div>
        <div class="su-placeholder" data-initial="请上传文件。" data-progress="上传文件中..">
          {{#if ad_url}}
            <div class="su-item">
              <a href="{{UPLOAD}}{{ad_url}}" download="{{ad_name}}.apk">文件链接</a>
            </div>
          {{/if}}
        </div>
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-upload"></i> 选择文件
        </label>
        <input type="hidden" name="ad_url" value="{{ad_url}}" class="su-url form-control">
      </div>
      <div class="col-sm-6">
        <div class="well well-small app file">
          <h4>安装包上传记录</h4>
          {{#each apk_history}}
            <i class="fa fa-time"></i> <a href="{{API}}{{url}}">{{upload_user}} 于 {{upload_time}} 上传</a><br />
          {{/each}}
        </div>
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_lib">广告版本</label>
      <div class="col-sm-10">
        <input type="text" name="ad_lib" id="ad_lib" value="{{ad_lib}}" class="form-control" />
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_size">广告大小</label>
      <div class="col-sm-10">
        <input type="text" name="ad_size" id="ad_size" value="{{ad_size}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="pack_name">广告包名</label>
      <div class="col-sm-10">
        <input type="text" name="pack_name" id="pack_name" value="{{pack_name}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="pic_path">广告LOGO</label>
      <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="pic_path">
        <div class="su-placeholder" data-initial="请上传文件。" data-progress="上传文件中..">
          {{#if pic_path}}
            <div class="su-item">
              <img src="{{UPLOAD}}{{pic_path}}" class="img-thumbnail">
            </div>
          {{/if}}
        </div>
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-upload"></i> 选择文件
        </label>
        <input type="hidden" name="pic_path" value="{{pic_path}}" class="su-url">
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_shoot">广告截图</label>
      <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="ad_shoot" data-multiple="true" data-append="true">
        <div class="su-placeholder su-grid col-2 su-removable" data-initial="可上传多个文件。" data-progress="上传文件中..">
          {{#if shoots}}
            {{#each shoots}}
              <div class="su-item">
                <img src="{{../UPLOAD}}{{.}}" class="img-thumbnail">
              </div>
            {{/each}}
          {{/if}}
        </div>
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-upload"></i> 选择文件
        </label>
        <input type="hidden" name="ad_shoot" value="{{ad_shoot}}" class="su-url">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <a name="tou"></a>
    <legend>投放信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="quote_rmb">广告主报价</label>
      <div class="col-sm-10">
        <input type="number" name="quote_rmb" id="quote_rmb" value="{{quote_rmb}}" class="form-control" required="required" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="job_num">日投放量</label>
      <div class="col-sm-10">
        <input type="number" id="job_num" value="{{job_num}}" class="form-control" {{#if id}}readonly title="欲修改每日投放请到广告列表"{{else}}name="job_num"{{/if}}/>
      </div>
    </div>
    <div class="form-group ad_list">
      <label class="col-sm-2 control-label">完成条件</label>
      <div class="col-sm-10 select-button">
        {{#each cates}}
          <input type="radio" name="cate" value="{{key}}" id="cate-{{value}}" />
          <label for="cate-{{value}}">{{value}}</label>
        {{/each}}
      </div>
    </div>
    <div class="form-group pit">
      <label class="col-sm-2 control-label" for="total_num">总计投放</label>
      <div class="col-sm-10">
        <input type="number" name="total_num" id="total_num" value="{{total_num}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">投放运营商</label>
      <div class="col-sm-10 select-button isp">
        {{#each net_types}}
        <input type="checkbox" name="net_type[]" value="{{code}}" id="net-type-{{name}}" />
        <label for="net-type-{{name}}">{{name}}</label>
        {{/each}}
      </div>
    </div>
    <div class="form-group ad_list domestic">
      <label class="col-sm-2 control-label">投放区域</label>
      <div class="col-sm-10 select-button">
        <input type="radio" name="province_type" value="0" data-class="show-provinces" id="province-all" />
        <label for="province-all">全国</label>
        <input type="radio" name="province_type" value="1" data-class="show-provinces" id="province-province" />
        <label for="province-province">分省</label>
      </div>
    </div>
    <div class="form-group ad_list provinces">
      <label class="col-sm-2 control-label">省份选择</label>
      <div class="col-sm-10 select-button select-button-group">
        {{#each provinces}}
        <input type="checkbox" name='provinces[]' value="{{key}}" id="province-{{value}}" {{checked}} />
        <label for="province-{{value}}">{{value}}</label>
        {{/each}}
        <hr />
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">投放目标：越狱</label>
      <div class="col-sm-10 select-button">
        <input type="radio" name="put_jb" value="0" id="put-jb-all" checked />
        <label for="put-jb-all">全部设备</label>
        <input type="radio" name="put_jb" value="1" id="put-jb-only" />
        <label for="put-jb-only">越狱设备</label>
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">投放目标：iPad/iPhone</label>
      <div class="col-sm-10 select-button">
        <input type="radio" name="put_ipad" value="0" id="put-ipad-all" checked />
        <label for="put-ipad-all">iPad + iPhone</label>
        <input type="radio" name="put_ipad" value="1" id="put-ipad-ipad" />
        <label for="put-ipad-ipad">只投iPad</label>
        <input type="radio" name="put_ipad" value="2" id="put-ipad-iphone" />
        <label for="put-ipad-iphone">只投iPhone</label>
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="process_name">进程名</label>
      <div class="col-sm-10">
        <input type="text" name="process_name" id="process_name" value="{{process_name}}" class="form-control"/>
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="url_type">打开链接格式</label>
      <div class="col-sm-10">
        <input type="text" name="url_type" id="url_type" value="{{url_type}}" class="form-control" />
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="http_param">接口回调参数</label>
      <div class="col-sm-10">
        <input type="text" name="http_param" id="http_param" value="{{http_param}}" class="form-control" />
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="down_type">下载类型</label>
      <div class="col-sm-10">
        <select name="down_type" id="down_type" class="form-control">
          <option value="0"> 点乐跳转到appstore </option>
          <option value="1"> 广告主跳转到appstore </option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <a name="channel-area"></a>
    <legend>渠道信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="owner">负责人</label>
      <div class="col-sm-4 col-xs-6">
        <select class="form-control" name="owner">
          {{#each sales}}
          <option value="{{key}}">{{value}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel">渠道名称</label>
      <div class="col-sm-10">
        <input type="text" name="channel" id="channel" value="{{channel}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cid">渠道号</label>
      <div class="col-sm-10">
        <input type="text" name="cid" id="cid" value="{{cid}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ratio">渠道扣点</label>
      <div class="col-sm-10">
        <input type="range" min="0.0001" max="1" step="0.0001" name="ratio" id="ratio" value="{{ratio}}" />
        <span class="help-inline">1</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="feedback">数据反馈形式</label>
      <div class="col-sm-10">
        <select name="feedback" id="feedback" class="form-control" required>
          <option value=""> == 请选择 == </option>
          <option value="1">截图</option>
          <option value="2">官方后台</option>
          <option value="3">渠道后台</option>
          <option value="4">API接口</option>
          <option value="5" class="iPhone">核对mac地址</option>
          <option value="6">实时数据</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cycle">反馈周期</label>
      <div class="col-sm-10">
        <select name="cycle" id="cycle" class="form-control" required>
          <option value=""> == 请选择 == </option>
          <option value="1">隔日数据</option>
          <option value="2">一周两次数据</option>
          <option value="3">隔周数据</option>
          <option value="4">隔月数据</option>
        </select>
      </div>
    </div>
    <div class="form-group feedback-detail">
      <label class="col-sm-2 control-label" for="url">后台地址</label>
      <div class="col-sm-10">
        <input type="url" name="url" id="url" value="{{url}}" class="form-control" />
      </div>
    </div>
    <div class="form-group feedback-detail">
      <label class="col-sm-2 control-label" for="user">账号</label>
      <div class="col-sm-10">
        <input type="text" name="user" id="user" value="{{user}}" class="form-control" />
      </div>
    </div>
    <div class="form-group feedback-detail">
      <label class="col-sm-2 control-label" for="pwd">密码</label>
      <div class="col-sm-10">
        <input type="password" name="pwd" id="pwd" value="{{pwd}}" class="form-control" />
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>杂项</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="others">备注</label>
      <div class="col-sm-10">
        <textarea name="others" class="form-control" rows="2" id="others">{{others}}</textarea>
      </div>
    </div>
  </fieldset>

  <hr />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="alert alert-msg" style="display: none;"></div>
      <button class="btn btn-block btn-lg btn-primary"><i class="fa fa-save"></i> 提交</button>
    </div>
  </div>
</form>