<form class="form-horizontal Android modal-editor" method="post" enctype="multipart/form-data">
  <input type="hidden" name="ad_sdk_type" value="1">
  <fieldset>
    <a name="basic-info"></a>
    <legend>基础信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label">所属平台</label>
      <div class="col-sm-10 platform">
        <div class="btn-group" data-toggle="buttons">
          <label for="platform-android" class="btn btn-primary active">
            <input type="radio" name="ad_app_type" value="1" id="platform-android">
            <i class="fa fa-android"></i> Android
          </label>
          <label for="platform-ios" class="btn btn-primary">
            <input type="radio" name="ad_app_type" value="2" id="platform-ios">
            <i class="fa fa-apple"></i> iOS
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ad_name">广告名</label>
      <div class="col-sm-10">
        <input type="text" name="ad_name" id="ad_name" value="{{ad_name}}" class="form-control" required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ad_type">广告类型</label>
      <div class="col-sm-10">
        <select name="ad_type" id="ad_type" class="form-control" required>
          <option value="">无分类</option>
          {{#ad_types}}
          <option value="{{id}}">{{label}}</option>
          {{/ad_types}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ad_text">广告语</label>
      <div class="col-sm-10">
        <input type="text" name="ad_text" id="ad_text" value="{{ad_text}}" class="form-control" />
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label">广告描述</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="6" name="ad_desc" id="ad_desc">{{ad_desc}}</textarea>
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">公司名称</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="corp" id="corp" value="{{corp}}" />
      </div>
    </div>
    <div class="form-group file">
      <label class="col-sm-2 control-label" for="ad_url">广告链接</label>
      <div class="col-sm-10">
        <button class="upload-button btn btn-default file" type="button">
          <i class="fa fa-file"></i> 上传安装包
        </button>
        <input type="text" name="ad_url" value="{{ad_url}}" class="form-control url" />
        {{#ad_url}}
  <span class="help-inline file">
    <a href="{{ad_url_full}}" class="help-inline btn-link" target="_blank">原链接</a>
  </span>
        {{/ad_url}}
        <input type="file" class="hidden" id="ad_url" data-accept="\.(apk|ipa)$" data-validate="true" />
        <div class="help-block app">
          <div class="btn-group btn-group-sm ad_url" data-toggle="buttons-radio">
            <button type="button" class="btn btn-default active" value="file">安装包</button>
            <button type="button" class="btn btn-default" value="url">下载路径</button>
          </div>
        </div>
        <div class="well well-small app file">
          <h4>安装包上传记录</h4>
          {{#apk_history}}
          <i class="fa fa-time"></i> <a href="../{{url}}">{{upload_user}} 于 {{upload_time}} 上传</a><br />
          {{/apk_history}}
        </div>
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_lib">广告版本</label>
      <div class="col-sm-10">
        <input type="text" name="ad_lib" id="ad_lib" value="{{ad_lib}}" class="form-control" />
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_size">广告大小</label>
      <div class="col-sm-10">
        <input type="text" name="ad_size" id="ad_size" value="{{ad_size}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="pack_name">广告包名</label>
      <div class="col-sm-10">
        <input type="text" name="pack_name" id="pack_name" value="{{pack_name}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="pic_path">广告LOGO</label>
      <div class="col-sm-10">
        <button type="button" class="upload-button btn btn-default">
          <i class="fa fa-picture-o"></i> 上传图片（{{picfoots}}）
        </button>
        <input type="file" id="pic_path" class="hidden" accept="image/jpeg, image/png, image/gif" />
        <input type="hidden" name="pic_path" value="{{pic_path}}" />
        <p class="help-block">
          {{#pic_path}}
          <img class="preview" src="../{{pic_path}}"  height="30" />
          {{/pic_path}}
        </p>
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="ad_shoot">广告截图</label>
      <div class="col-sm-10">
        <button type="button" class="upload-button btn btn-default">
          <i class="fa fa-picture-o"></i> 上传图片（{{picfoots}}）
        </button>
        <input type="file" id="ad_shoot" class="hidden" accept="image/jpeg, image/png, image/gif" />
        <input type="hidden" name="ad_shoot" value="{{ad_shoot}}" class="multiple" />
        <p class="help-block multiple">
          {{#shoots}}
          <img class="preview" src="../{{.}}"  height="30" />
          {{/shoots}}
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">付费类型</label>
      <div class="col-sm-10">
        <input type="radio" name="cpc_cpa" value="cpa" id="cpa" />
        <label for="cpa">CPA</label>
        <input type="radio" name="cpc_cpa" value="cpc" id="cpc" />
        <label for="cpc">CPC</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ratio">渠道扣点</label>
      <div class="col-sm-10">
        <input type="range" min="0.0001" max="1" step="0.0001" name="ratio" id="ratio" value="{{ratio}}" />
        <span class="help-inline">1</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="quote_rmb">广告主报价</label>
      <div class="col-sm-10">
        <input type="number" name="quote_rmb" id="quote_rmb" value="{{quote_rmb}}" class="form-control" required="required" />
      </div>
    </div>
    <div class="form-group ad_list">
      <label class="col-sm-2 control-label">广告类别</label>
      <div class="col-sm-10">
        {{#cates}}
        <input type="radio" name="cate" value="{{key}}" id="cate-{{value}}" />
        <label for="cate-{{value}}">{{value}}</label>
        {{/cates}}
      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="active_time">激活时间</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">打开</span>
          <input type="number" name="active_time" id="active_time" value="{{active_time}}" value="0" class="form-control" />
          <span class="input-group-addon">秒后扣钱</span>
        </div>

      </div>
    </div>
    <div class="form-group app">
      <label class="col-sm-2 control-label" for="before_tips">安装提示</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="input-group-addon">请</span>
          <input type="text" name="before_tips" id="before_tips" value="{{before_tips}}" class="form-control" maxlength="8" placeholder="如：安装并激活应用" />
          <span class="input-group-addon">，可轻松获得奖励！</span>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <p class="help-block">仅限8个汉字</p>
      </div>
    </div>
    <div class="form-group os_black">
      <label class="col-sm-2 control-label">OS黑名单</label>
      <div class="col-sm-10">
        <input type="radio" name="has_os_black" value="1" data-class="ad_os_black" id="os-black-check" />
        <label for="os-black-check">有</label>
        <input type="radio" name="has_os_black" value="0" data-class="ad_os_black" id="os-black-none" />
        <label for="os-black-none">无</label>
      </div>
    </div>
    <div class="form-group ad_os_black">
      <label class="col-sm-2 control-label">OS比较</label>
      <div class="col-sm-10">
        <input type="radio" name='less_or_more' value="-1" id="less" />
        <label for="less">小于</label>
        <input type="radio" name='less_or_more' value="0" id="equal" />
        <label for="equal">等于</label>
        <input type="radio" name='less_or_more' value="1" id="more" />
        <label for="more">大于</label>
      </div>
    </div>
    <div class="form-group ad_os_black">
      <label class="col-sm-2 control-label">OS选择</label>
      <div class="col-sm-10">
        {{#android_os}}
        <input type="radio" name='android_os_black' value="{{value}}" id="android-{{value}}" class="Android" {{checked}}/>
        <label for="android-{{value}}" class="Android">{{value}}</label>
        {{/android_os}}
        {{#iphone_os}}
        <input type="radio" name='iphone_os_black' value="{{value}}" id="ios-{{value}}" class="iPhone" {{checked}}/>
        <label for="ios-{{value}}" class="iPhone">{{value}}</label>
        {{/iphone_os}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <a name="tou"></a>
    <legend>投放信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="job_num">日投放量</label>
      <div class="col-sm-10">
        <input maxlength="30" type="number" name="job_num" id="job_num" value="{{job_num}}" class="form-control" {{^job_edit}}disabled{{/job_edit}}/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">投放时间</label>
      <div class="col-sm-5">
        <select name="job_h" class="form-control" id="job_h" {{^job_edit}}disabled{{/job_edit}}>
        {{#hours}}
        <option value="{{.}}">{{.}}</option>
        {{/hours}}
        </select>
      </div>
      <div class="col-sm-5">
        <select name="job_i" class="form-control" {{^job_edit}}disabled{{/job_edit}}>
        {{#mins}}
        <option value="{{.}}">{{.}}</option>
        {{/mins}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">总计投放</label>
      <div class="col-sm-6">
        <p class="form-control-static">100 / &yen; 100.00</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">投放网络</label>
      <div class="col-sm-10">
        <input type="radio" name='put_net' value="0" id="put-net-all" />
        <label for="put-net-all">全投放</label>
        <input type="radio" name='put_net' value="1" id="put-net-wifi" />
        <label for="put-net-wifi">只投放wifi</label>
        <input type="radio" name='put_net'  value="2" id="put-net-3g" />
        <label for="put-net-3g">只投放3g</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">投放运营商</label>
      <div class="col-sm-10">
        {{#net_type}}
        <input type="checkbox" name="net_type[]" value="{{code}}" id="net-type-{{name}}" {{checked}} />
        <label for="net-type-{{name}}">{{name}}</label>
        {{/net_type}}
      </div>
    </div>
    <div class="form-group global">
      <label class="col-sm-2 control-label">海外投放</label>
      <div class="col-sm-10">
        <input type="radio" name="oversea" value="0" data-class="nations" id="oversea-in" />
        <label for="oversea-in">国内</label>
        <input type="radio" name="oversea" value="1" data-class="nations" id="oversea-out" />
        <label for="oversea-out">国外</label>
      </div>
    </div>
    <div class="form-group nations">
      <label class="col-sm-2 control-label">国家和地区选择</label>
      <div class="col-sm-10 item-grid">
        {{#countries}}
        <input type="checkbox" name="countries[]" value="{{code}}" id="country-{{NAME}}" {{checked}} />
        <label for="country-{{NAME}}">{{NAME}}</label>
        {{/countries}}
        <hr />
      </div>
    </div>
    <div class="form-group ad_list domestic">
      <label class="col-sm-2 control-label">投放区域</label>
      <div class="col-sm-10">
        <input type="radio" name="province_type" value="0" data-class="provinces" id="province-all" />
        <label for="province-all">全国</label>
        <input type="radio" name="province_type" value="1" data-class="provinces" id="province-province" />
        <label for="province-province">分省</label>
      </div>
    </div>
    <div class="form-group ad_list provinces">
      <label class="col-sm-2 control-label">省份选择</label>
      <div class="col-sm-10 item-grid">
        {{#provinces}}
        <input type="checkbox" name='provinces[]' value="{{key}}" id="province-{{value}}" {{checked}} />
        <label for="province-{{value}}">{{value}}</label>
        {{/provinces}}
        <hr />
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">投放目标：越狱</label>
      <div class="col-sm-10">
        <input type="radio" name="put_jb" value="0" id="put-jb-all" checked />
        <label for="put-jb-all">全部设备</label>
        <input type="radio" name="put_jb" value="1" id="put-jb-only" />
        <label for="put-jb-only">越狱设备</label>
      </div>
    </div>
    <div class="form-group iPhone">
      <label class="col-sm-2 control-label">投放目标：iPad/iPhone</label>
      <div class="col-sm-10">
        <input type="radio" name="put_ipad" value="0" id="put-ipad-all" checked />
        <label for="put-ipad-all">iPad + iPhone</label>
        <input type="radio" name="put_ipad" value="1" id="put-ipad-ipad" />
        <label for="put-ipad-ipad">只投iPad</label>
        <input type="radio" name="put_ipad" value="2" id="put-ipad-iphone" />
        <label for="put-ipad-iphone">只投iPhone</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="ip">绑定广告主IP</label>
      <div class="col-sm-10">
        <input type="text" name="ip" id="ip" value="{{ip}}" class="form-control" />
        <p class="help-block">
          绑定IP后将不在校验验证码。多个IP可以用“;”分割，最多可以绑定12个的IP。
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="salt">加分校验码</label>
      <div class="col-sm-10">
        <input type="text" name="salt" id="salt" value="{{salt}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="click_url">点击通知地址</label>
      <div class="col-sm-10">
        <input type="text" name="click_url" id="click_url" value="{{click_url}}" class="form-control" />
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="process_name">进程名</label>
      <div class="col-sm-10">
        <input type="text" name="process_name" id="process_name" value="{{process_name}}" class="form-control" {{^is_android}}required="required"{{/is_android}}/>
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="url_type">打开链接格式</label>
      <div class="col-sm-10">
        <input type="text" name="url_type" id="url_type" value="{{url_type}}" class="form-control" />
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="http_param">接口回调参数</label>
      <div class="col-sm-10">
        <input type="text" name="http_param" id="http_param" value="{{http_param}}" class="form-control" />
      </div>
    </div>
    <div class="form-group iPhone tech">
      <label class="col-sm-2 control-label" for="down_type">下载类型</label>
      <div class="col-sm-10">
        <select name="down_type" id="down_type" class="form-control">
          <option value="0"> 点乐跳转到appstore </option>
          <option value="1"> 广告主跳转到appstore </option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <a name="channel-area"></a>
    <legend>渠道信息</legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel">渠道名称</label>
      <div class="col-sm-10">
        <input type="text" name="channel" id="channel" value="{{channel}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel_id">渠道号</label>
      <div class="col-sm-10">
        <input type="text" name="channel_id" id="channel_id" value="{{cid}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="advertiser_tag">广告主tag</label>
      <div class="col-sm-10">
        <select name="advertiser_tag" id="advertiser_tag" class="form-control">
          <option value="0000">无</option>
          {{#advertisers}}
          <option value="{{key}}">{{value}}</option>
          {{/advertisers}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel_url">后台地址</label>
      <div class="col-sm-10">
        <input type="text" name="channel_url" id="channel_url" value="{{url}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel_user">账号</label>
      <div class="col-sm-10">
        <input type="text" name="channel_user" id="channel_user" value="{{user}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="channel_pwd">密码</label>
      <div class="col-sm-10">
        <input type="text" name="channel_pwd" id="channel_pwd" value="{{pwd}}" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="feedback">数据反馈形式</label>
      <div class="col-sm-10">
        <select name="feedback" id="feedback" class="form-control">
          <option value=""> == 请选择 == </option>
          <option value="1">截图</option>
          <option value="2">官方后台</option>
          <option value="3">渠道后台</option>
          <option value="4">API接口</option>
          <option value="5" class="iPhone">核对mac地址</option>
          <option value="6">实时数据</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="cycle">反馈周期</label>
      <div class="col-sm-10">
        <select name="cycle" id="cycle" class="form-control">
          <option value=""> == 请选择 == </option>
          <option value="1">隔日数据</option>
          <option value="2">一周两次数据</option>
          <option value="3">隔周数据</option>
          <option value="4">隔月数据</option>
        </select>
      </div>
    </div>
  </fieldset>

  <hr />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-block btn-lg btn-primary"><i class="fa fa-save"></i> 提交</button>
    </div>
  </div>
</form>