<table class="table table-bordered table-striped">
  <tr>
    <th>广告</th>
    <td>{{ad_name}}</td>
  </tr>
</table>
<form action="{{API}}export/idfa/{{id}}" method="get" id="popup-form" class="row" target="_blank">
  <input type="hidden" name="type" value="0">
  <div class="form-group col-md-6 col-xs-12">
    <label>开始日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="start" data-format="YYYY-MM-DD" required value="{{start}}" data-widget-parent=".modal-dialog">
    </div>
  </div>
  <div class="form-group col-md-6 col-xs-12">
    <label>结束日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="end" data-format="YYYY-MM-DD" required value="{{start}}" data-widget-parent=".modal-dialog">
    </div>
  </div>
  <label class="col-md-12 col-xs-12">注：每次只能导出一周的数据。</label>
</form>