<table class="table table-bordered table-striped">
  <tr>
    <th>广告</th>
    <td>{{ad_name}}</td>
  </tr>
</table>
<form action="{{API}}export/idfa/{{id}}" method="get" id="popup-form" target="_blank">
  <input type="hidden" name="type" value="{{type}}">
  <div class="form-group col-md-6 col-xs-12">
    <label>开始日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="start" data-format="YYYY-MM-DD" required value="{{start}}" data-widget-parent=".modal-dialog">
    </div>
  </div>
  <div class="form-group col-md-6 col-xs-12">
    <label>结束日期</label>
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input class="form-control datetimepicker" name="end" data-format="YYYY-MM-DD" required value="{{start}}" data-widget-parent=".modal-dialog">
    </div>
  </div>
</form>
<p class="alert alert-info">注：导出数据的时间长度，不超过1周。如果需要超过1周的数据，请联系点乐商务获取。</p>
