<div class="alert alert-msg" style="display: none"></div>
<table class="table table-bordered">
  <tr>
    <th>管理名</th>
    <td>{{channel}} {{ad_name}} {{cid}}</td>
  </tr>
  <tr>
    <th>当前每日限量</th>
    <td>{{job_num}}</td>
  </tr>
  <tr>
    <th>今日余量</th>
    <td>{{today_left}}</td>
  </tr>
</table>
<form class="model-editor" action="{{urlRoot}}" method="post" id="popup-form">
  <div class="form-group">
    <label for="editor-popup-input">调整每日限量</label>
    <input type="number" min="0" step="1" name="job_num" class="form-control" id="editor-popup-input" value="{{job_num}}" autofocus />
  </div>
  <div class="form-group">
    <label><input type="checkbox" name="rmb" value="1" checked> 同步修改今日余量</label>
    <p class="help-block">系统会计算和以前每日限量的差值，合并到今日余量中。</p>
  </div>
  <div class="form-group">
    <label for="editor-message">附言</label>
    <textarea id="editor-message" class="form-control" rows="2" name="message"></textarea>
  </div>
</form>
