<table class="table table-bordered">
  <tr>
    <th>管理名</th>
    <td>{{channel}} {{ad_name}} {{cid}}</td>
  </tr>
  <tr>
    <th>当前每日限量</th>
    <td>{{job_num}}</td>
  </tr>
  <tr>
    <th>今日余量</th>
    <td>{{today_left}}</td>
  </tr>
</table>
<form class="model-editor" action="{{urlRoot}}" method="post" id="popup-form">
  <div class="alert alert-msg" style="display: none"></div>
  <div class="form-group">
    <label for="editor-popup-input" class="control-label">申请上线/下线</label>
    {{#if deactive}}<label>{{deactive}}</label>{{/if}}
    <input type="checkbox" name="{{prop}}" class="switch" id="editor-popup-input" value="{{open}}" {{#if value}}checked {{/if}} />
    <label for="editor-popup-input"></label>
    {{#if active}}<label>{{active}}</label>{{/if}}
  </div>
  <div class="form-group">
    <label for="status-time">生效时间</label>
    <div class="input-group">
      <input type="datetime" class="form-control" name="status-time" id="status-time" data-format="YYYY-MM-DD HH:mm:ss">
      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
    </div>
  </div>
</form>
