<div class="form-group">
  <label for="editor-popup-input" class="control-label">{{label}}</label>
  {{#if deactive}}<label>{{deactive}}</label>{{/if}}
  <input type="checkbox" name="{{prop}}" class="switch" id="editor-popup-input" value="{{open}}" {{#if value}}checked {{/if}} />
  <label for="editor-popup-input" class="switch"></label>
  {{#if active}}<label>{{active}}</label>{{/if}}
</div>