<div class="form-group select-button">
  {{#each options}}
  <input type="checkbox" name="{{prop}}" value="{{value}}" id="{{name}}-{{key}}">
  <label for="editor-popup-input">{{value}}</label>
  {{/each}}
</div>