<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <label for="editor-popup-search">请输入关键词：</label>
  <div class="form-group input-group">
    <input type="search" name="query" class="form-control" id="editor-popup-search" autofocus>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default search-button"><i class="fa fa-search"></i></button>
    </span>
  </div>
  <div class="form-group search-result select-button">
    <script type="text/x-handlebars-template">
    {{{{raw-helper}}}}
    <input type="{{#if multiple}}checkbox{{else}}radio{{/if}}" id="prop-{{id}}" name="{{prop}}" value="{{id}}"><label for="prop-{{id}}">{{> item}}</label>
    {{{{/raw-helper}}}}
    </script>
  </div>
</div>