<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <label for="editor-popup-search">请输入关键词：</label>
  <div class="input-group">
    <input type="search" class="form-control" id="editor-popup-search" autofocus>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default search-button"><i class="fa fa-search"></i></button>
    </span>
  </div>
</div>
<h4>当前选择</h4>
<div class="form-group select-button">
  {{#if (lookup @root list)}}
    {{#each (lookup @root list)}}
      <input type="{{#if ../multiple}}checkbox{{else}}radio{{/if}}" id="curr-{{id}}" name="{{../prop}}" value="{{id}}" checked><label for="curr-{{id}}">{{> item}}</label>
    {{/each}}
  {{else}}
    <input type="{{#if multiple}}checkbox{{else}}radio{{/if}}" id="curr-{{value}}" name="{{prop}}" value="{{value}}" checked><label for="curr-{{value}}">{{> item}}</label>
  {{/if}}
</div>
<hr>
<h4>搜索结果</h4>
<div class="form-group search-result select-button">
  <script type="text/x-handlebars-template">
  {{{{raw-helper}}}}
  <input type="{{#if multiple}}checkbox{{else}}radio{{/if}}" id="prop-{{id}}" name="{{prop}}" value="{{id}}"><label for="prop-{{id}}">{{> item}}</label>
  {{{{/raw-helper}}}}
  </script>
</div>