<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <div class="input-group">
    <input type="{{realType}}" name="{{prop}}" class="form-control datetimepicker" id="editor-popup-input" value="{{value}}" data-format="{{format}}" data-widget-parent=".modal-dialog" {{#equal realType 'time'}}data-side-by-side="true"{{/equal}}>
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  </div>
</div>
