<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <input type="number" {{#if max}}max="{{max}}{{/if}} {{#if min}}min="{{min}}"{{/if}} {{#if step}}step="{{step}}"{{/if}} name="prop" class="form-control" id="editor-popup-input" value="{{value}}" autofocus />
</div>