<div class="form-group">
  <label for="editor-popup-input" class="control-label">{{label}}</label>
  {{#if deactive}}<label>{{deactive}}</label>{{/if}}
  <input type="checkbox" name="{{prop}}" class="switch" id="editor-popup-input" value="{{open}}" data-close="{{close}}" {{#if value}}checked{{/if}} {{#if readonly}}disabled{{/if}} />
  <label for="editor-popup-input"></label>
  {{#if active}}<label>{{active}}</label>{{/if}}
</div>