<h3 class="tac">{{#if company}}{{company}}{{else}}{{full_name}}{{/if}}-点乐{{start}}结算单及开票申请单</h3>
<h4 class="tac">
  <a data-toggle="popover" data-content="{{#each agreement_info}}{{@this}}<br>{{/each}}" data-html="true" data-title="合同信息" id="agreement-number">点乐合同编号：{{agreement_number}}</a>
</h4>

<table class="table table-bordered table-striped responsive-table" id="ad_table" data-auto-fetch="false" data-typeahead="false">
  <thead>
  <tr>
    <th>推广期间</th>
    <th>广告名称</th>
    <th>渠道号</th>
    <th>单价（核减前）</th>
    <th>渠道CPA（核减前）</th>
    <th>应结算收入（核减前）</th>
    <th>单价（核减后）</th>
    <th>渠道CPA（核减后）</th>
    <th>实际结算收入（核减后）</th>
    <th>核减比例</th>
    <th>核减金额</th>
    <th>备注</th>
  </tr>
  </thead>
  <tbody>
  {{{{raw-helper}}}}
  <script type="text/x-handlebars-template">
    <tr id="{{id}}">
      {{#if amount}}
        <td>合计人民币（大写）：</td>
        <td colspan="7"  id="rmb">{{rmb}}</td>
        <td id="income-total" colspan="4">&yen; {{readable_n income_after_total}}</td>
      {{else}}
        <td data-title="推广期间">{{quote_start_date}} ~ {{quote_end_date}}</td>
        <td data-title="广告名称">{{ad_name}}</td>
        <td data-title="渠道号">{{cid}}</td>
        <td data-title="单价（核减前）" class="price">&yen; {{readable_n quote_rmb}}</td>
        <td data-title="渠道CPA（核减前）" class="cpa-before">{{cpa}}</td>
        <td data-title="应结算收入（核减前）" class="income-before">&yen; {{readable_n income}}</td>
        <td data-title="单价（核减后）">
          <a href="#quote_rmb_after" data-type="number" data-step="0.01" class="edit" title="单价（核减后）">&yen; {{readable_n quote_rmb_after}}</a>
        </td>
        <td data-title="渠道CPA（核减后）">
          <a href="#cpa_after" data-type="number" class="edit" title="渠道CPA（核减后）">{{cpa_after}}</a>
        </td>
        <td data-title="实际结算收入（核减后）" class="income-after">&yen; {{readable_n income_after}}</td>
        <td data-title="核减比例" class="proportion">{{readable_n rate}}%</td>
        <td data-title="核减金额" class="amount">&yen; {{readable_n money_cut}}</td>
        <td data-title="备注">
          <a href="#remark" data-type="long-text" class="edit" title="备注">{{remark}}</a>
        </td>
      {{/if}}
    </tr>
  </script>
  {{{{/raw-helper}}}}
  </tbody>
</table>
{{#if ad_notice}}
  <table class="table table-bordered table-striped responsive-table">
    <thead>
    <tr class="warning-info">
      <th>广告名称</th>
      <th>提醒信息</th>
    </tr>
    </thead>
    <tbody>
    {{#each ad_notice}}
      <tr>
        <td data-title="广告名称">{{ad_name}} {{cid}}</td>
        <td data-title="提醒信息">{{#each notice}}{{#if @last}}{{date}}的渠道cpa为0，请留意!{{else}}{{date}}、{{/if}}{{/each}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}

<form class="form-horizontal clearfix model-editor" method="post" enctype="multipart/form-data" data-target="invoiceDetail">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <div class="col-sm-12">
          <h3>付款方</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">付款方：</label>
        <div class="col-sm-8">
          <p class="form-control-static">{{#if company}}{{company}}{{else}}{{full_name}}{{/if}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">发票抬头：</label>
        <div class="col-sm-8">
          <input class="form-control" name="header" type="text" value="{{#if company}}{{company}}{{else}}{{full_name}}{{/if}}" required/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">发票类型：</label>
        <div class="col-sm-8">
          <select class="form-control" name="type">
            <option value="0" {{#equal type 0}}selected{{/equal}}>增值税普通发票</option>
            <option value="1" {{#equal type 1}}selected{{/equal}}>增值税专用发票</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">发票内容：</label>
        <div class="col-sm-8">
          <select class="form-control" name="content_type">
            <option value="0" {{#equal content_type 0}}selected{{/equal}}>信息服务费</option>
            <option value="1" {{#equal content_type 1}}selected{{/equal}}>信息技术服务费</option>
            <option value="2" {{#equal content_type 2}}selected{{/equal}}>技术服务费</option>
            <option value="3" {{#equal content_type 3}}selected{{/equal}}>广告服务费（慎用）</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4">规格型号：</label>
        <div class="col-sm-8">
          <p class="form-control-static">DAP V1.0</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">开票金额：</label>
        <div class="col-sm-4">
          <p class="form-control-static">红包锁屏收入金额：&yen; {{red_ad_income}}</p>
        </div>
        <div class="col-sm-4">
          <p class="form-control-static">其他收入金额：&yen; {{joy_income}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">业务负责人：</label>
        <div class="col-sm-8">
          <input type="text" name="pay_charger" class="form-control" value="{{pay_charger}}" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">手机号码：</label>
        <div class="col-sm-8">
          <input type="text" name="pay_telephone" class="form-control" value="{{pay_telephone}}" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">地址：</label>
        <div class="col-sm-8">
          <input type="text" name="pay_address" class="form-control" value="{{pay_address}}" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">日期：</label>
        <div class="col-sm-8">
          <p class="form-control-static">{{apply_time}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <div class="col-sm-12">
          <h3>收款方</h3>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">收款方：</label>
        <div class="col-sm-8">
          {{#if accept_company}}
            <p class="form-control-static">{{accept_company}}</p>
            {{else}}
              <p class="form-control-static warning-info">系统没录入，请找鲍橙橙选择签约公司名称</p>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">开户名称：</label>
        <div class="col-sm-8">
        <p class="form-control-static">{{accept_company}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">开户银行：</label>
        <div class="col-sm-8">
        <p class="form-control-static">{{accept_bank}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">开户账号：</label>
        <div class="col-sm-8">
        <p class="form-control-static">{{accept_account}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">业务负责人：</label>
        <div class="col-sm-8">
        {{#if init}}
        {{#if is_assistant}}
          <select name="{{charger}}" class="form-control">
          {{#each chargers}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
          {{else}}
          <p class="form-control-static">{{applicant}}</p>
          {{/if}}
        {{else}}
        <p class="form-control-static">{{#if charger}}{{charger}}{{else}}{{applicant}}{{/if}}</p>
        {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">手机号码：</label>
        <div class="col-sm-8">
        <input type="text" name="accept_telephone" class="form-control" value="{{accept_telephone}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">地址：</label>
        <div class="col-sm-8">
        <input type="text" name="accept_address" class="form-control" value="{{accept_address}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">日期：</label>
        <div class="col-sm-8">
        <p class="form-control-static">{{apply_time}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">客户对账单：</label>
    <div class="col-sm-10">
      <input type="text" placeholder="描述（可不填）" class="form-control" name="attachment_desc">
    </div>
    <div class="uploader col-sm-10 col-sm-offset-2 invoice-margin" data-url="{{API}}file/" data-need-validate="true" data-accept="*.pdf,*jpg,*png">
      <div class="su-placeholder su-removable" data-initial="请上传文件。" data-progress="上传文件中..">
        {{#if attachment}}
          <div class="su-item">
            <a><img src="{{UPLOAD}}{{attachment}}"></a>
          </div>
        {{/if}}
      </div>
      <label class="btn btn-info su-upload-button col-sm-12">
        <i class="fa fa-upload"></i> 选择文件
      </label>
      <input type="hidden" name="attachment" class="su-url form-control">
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label class="col-sm-2 control-label">特批：</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="6" name="comment" maxlength="1024">{{comment}}</textarea>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <div class="col-sm-10 col-sm-offset-2">
      <button class="btn btn-lg btn-block btn-primary">
        <i class="fa fa-save"></i>提交
      </button>
    </div>
  </div>
  <input type="hidden" name="agreement_number" value="{{agreement_number}}">
</form>