<h4>选择结算的广告：</h4>
{{#unless fromList}}
  <div class="ad-date-range clearfix" style="margin-bottom: 15px;">
    <div class="range">
        <label class="control-label pull-left" style="margin-top: 5px;">结算周期：</label>
      <div class="date input-group col-sm-3 col-md-3 pull-left">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="date"  id="settle-start-date" class="form-control datetimepicker" name="start" data-format="YYYY-MM-DD">
      </div>
      <div class="date input-group col-sm-3 col-md-3 pull-left">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="date" id="settle-end-date" class="form-control datetimepicker" name="end" data-format="YYYY-MM-DD">
      </div>
      <button class="btn btn-primary pull-right"><i class="fa fa-play"></i> 检索</button>
    </div>
  </div>
{{/unless}}
<table class="table smart-table"  data-url="{{API}}invoice/settle/{{id}}" data-ranger=".ad-date-range"{{#if fromList}}data-params="start={{start}}&end={{end}}" {{else}}data-start="{{start}}" data-end="{{end}}"{{/if}}>
  <tbody>
  {{{{raw-helper}}}}
  <script type="text/x-handlebars-template">
    {{#if is_null}}
      <div class="well" style="border:3px #D3CCCC dotted; text-align:center">
        没有搜索结果
      </div>
    {{else}}
      <div class="col-sm-3">
        <label for="{{id}}">
          <input type="checkbox" id="{{id}}" data-channel={{channel_id}} data-agreement={{agreement_id}}>{{ad_name}}
        </label>
      </div>
    {{/if}}
  </script>
  {{{{/raw-helper}}}}
  </tbody>
</table>



