<h4>选择结算的广告：</h4>
{{#if fromList}}
<div class="ad-date-range clearfix" style="margin-bottom: 15px">
  <div class="range">
      <label class="control-label pull-left">结算日期：</label>
    <div class="date input-group col-sm-4 col-md-4 pull-left">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input type="date"  id="settle-start-date" class="form-control datetimepicker" name="start" data-format="YYYY-MM-DD">
    </div>
    <label class="control-label pull-left">--</label>
    <div class="date input-group col-sm-4 col-md-4 pull-left">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input type="date" id="settle-end-date" class="form-control datetimepicker" name="end" data-format="YYYY-MM-DD">
    </div>
    <button class="btn btn-primary pull-right"><i class="fa fa-play"></i> 检索</button>
  </div>
</div>
{{/if}}

<table class="table smart-table"  data-url="{{API}}invoice/settle/{{id}}" data-ranger=".ad-date-range" data-start="{{#if start}}{{start}}{{else}}-30{{/if}}" data-end="{{#if end}}{{end}}{{else}}0{{/if}}">
  <tbody title="{{full_name}}" id="{{channel_id}}">
    <script type="text/x-handlebars-template">
        {{{{raw-helper}}}}
            <div class="col-sm-3">
              <label for="{{ad_id}}">
                <input type="checkbox" id="{{ad_id}}"/> {{ad_name}}
              </label>
            </div>
        {{{{/raw-helper}}}}
    </script>
  </tbody>
</table>



