<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <input type="{{#if range}}range{{else}}number{{/if}}" {{#if max}}max="{{max}}"{{/if}} {{#if min}}min="{{min}}"{{/if}} {{#if step}}step="{{step}}"{{/if}} name="{{prop}}" {{#unless range}}class="form-control"{{/unless}} id="editor-popup-input" value="{{value}}" autofocus />
  {{#if range}}<span class="help-inline">{{value}}</span>{{/if}}
</div>

<div class="form-group">
  <label for="editor-popup-input">核减类型</label>
  <select class="form-control" name="cut_type">
    {{#each cut_types}}<option value="{{@key}}" {{#equal @key ../cut_type}}selected{{/equal}}>{{.}}</option>{{/each}}
  </select>
</div>