<table class="table table-bordered">
  <thead>
  <tr>
    <th>广告名</th>
    <th>平台</th>
    <th>状态</th>
    <th>开始时间</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ad_name}}</td>
    <td>{{pick ad_app_type '' 'Android' 'iPhone'}}</td>
    <td>{{pick status '投放中' '已完成'}}</td>
    <td>{{moment create_time}}</td>
  </tr>
  </tbody>
</table>

<table class="table table-bordered smart-table responsive-table" data-url="{{API}}stat/{{id}}" data-start="{{substring create_time 0 10}}" data-id-attribute="date">
  <thead>
  <tr>
    <th>日期</th>
    <th>关键词</th>
    <th>激活数</th>
    <th>总计</th>
  </tr>
  </thead>
  <tbody>
  <script type="text/x-handlebars-template">
    {{{{raw-helper}}}}
    <tr id="{{date}}">
      <td data-title="日期" rowspan="{{count}}">{{date}}</td>
      {{#each keywords}}
      {{#unless @first}}<tr>{{/unless}}
      <td data-title="关键词">{{#if search_key}}{{search_key}}{{else}}<span class="text-muted">（无）</span>{{/if}}</td>
      <td data-title="激活数">{{readable_n num}}</td>
      {{#if @first}}
      <td data-title="总计" rowspan="{{../count}}">{{readable_n ../total}}</td>
      {{else}}
      </tr>
      {{/if}}
      {{/each}}
    </tr>
    {{{{/raw-helper}}}}
  </script>
  </tbody>
  <tfoot class="waiting">
  <tr>
    <td colspan="5">
      <p align="center"><i class="fa fa-spin fa-spinner fa-2x"></i><br>加载中，请稍候</p>
    </td>
  </tr>
  </tfoot>
</table>