<h3 class="tac" id="invoice-title">{{#if company}}{{company}}{{else}}{{full_name}}{{/if}}-点乐{{start}}结算单及开票申请单 </h3>
<h4 class="tac">
  <a data-toggle="popover" data-content="{{#each agreement_info}}{{@this}}<br>{{/each}}" data-html="true" data-title="合同信息" id="agreement-number">点乐合同编号：{{agreement_number}}</a>
</h4>
<div class="table-header">
  <a href="#" download="{{#if company}}{{company}}{{else}}{{full_name}}{{/if}}-点乐{{start}}结算单.xls" class="btn btn-primary export-button" title="导出对账单"><i class="fa fa-download">导出对账单</i></a>
</div>
<table class="table table-bordered table-striped responsive-table print-table" id="ad_table" data-typeahead="false" data-url="{{API}}invoice/ad/" data-auto-fetch="false">
  <thead>
  <tr>
    <th>推广期间</th>
    <th>广告名称</th>
    <th>渠道号</th>
    <th>单价（核减前）</th>
    <th>渠道CPA（核减前）</th>
    <th>应结算收入（核减前）</th>
    <th>单价（核减后）</th>
    <th>渠道CPA（核减后）</th>
    <th>实际结算收入（核减后）</th>
    <th>核减比例</th>
    <th>核减金额</th>
    <th>备注</th>
  </tr>
  </thead>
  <tbody>
    {{{{raw-helper}}}}
    <script type="text/x-handlebars-template">
      <tr id="{{id}}">
        {{#if amount}}
          <td>合计人民币（大写）：</td>
          <td colspan="7"  id="rmb">{{rmb}}</td>
          <td id="income-total" colspan="4">&yen; {{readable_n income_after_total}}</td>
        {{else}}
          <td data-title="推广期间">{{quote_start_date}} ~ {{quote_end_date}}</td>
          <td data-title="广告名称">{{ad_name}}</td>
          <td data-title="渠道号">{{cid}}</td>
          <td data-title="单价（核减前）" class="price">&yen; {{readable_n quote_rmb}}</td>
          <td data-title="渠道CPA（核减前）" class="cpa-before">{{cpa}}</td>
          <td data-title="应结算收入（核减前）" class="income-before">&yen; {{readable_n income}}</td>
          <td data-title="单价（核减后）">
            {{#if view}}
              &yen; {{readable_n quote_rmb_after}}
            {{else}}
              <a href="#quote_rmb_after" data-step="0.01" class="edit" title="单价（核减后）" data-template="stat/cut-type">&yen; {{readable_n quote_rmb_after}}</a>
            {{/if}}
          </td>
          <td data-title="渠道CPA（核减后）">
            {{#if view}}
              {{cpa_after}}
            {{else}}
              <a href="#cpa_after" data-type="number" class="edit" title="渠道CPA（核减后）" data-template="stat/cut-type">{{cpa_after}}</a>
              <p class="warning-info">{{pick cut_type cut_types}}</p>
            {{/if}}
          </td>
          <td data-title="实际结算收入（核减后）" class="income-after">&yen; {{readable_n income_after}}</td>
          <td data-title="核减比例" class="proportion">{{readable_n rate}}%</td>
          <td data-title="核减金额" class="amount">&yen; {{readable_n money_cut}}</td>
          <td data-title="备注">
            {{#if view}}{{remark}}{{else}}<a href="#remark" data-type="long-text" class="edit" title="备注">{{remark}}</a>{{/if}}
          </td>
        {{/if}}
      </tr>
    </script>
    {{{{/raw-helper}}}}
  </tbody>
</table>
{{#if ad_notice}}
  <table class="table table-bordered table-striped responsive-table">
    <thead>
    <tr class="warning-info">
      <th>广告名称</th>
      <th>提醒信息</th>
    </tr>
    </thead>
    <tbody>
    {{#each ad_notice}}
      <tr>
        <td data-title="广告名称">{{ad_name}} {{cid}}</td>
        <td data-title="提醒信息">
          {{#each notice}}{{#if @last}}{{date}}的渠道cpa为0。{{else}}{{date}}、{{/if}}{{/each}}
          {{#each left_transfer_notice}}{{#if @last}}{{date}}有余量未确认。{{else}}{{date}}、{{/if}}{{/each}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{/if}}

<div role="tabpanel" class="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pay" aria-controls="pay" role="tab" data-toggle="tab"><i class="fa fa-file-text"></i>付款方</a></li>
    <li role="presentation"><a href="#accept" aria-controls="accept" role="tab" data-toggle="tab"><i class="fa fa-file-text"></i>收款方</a></li>
    <li role="presentation"><a href="#extra" aria-controls="extra" role="tab" data-toggle="tab"><i class="fa fa-edit"></i>特批/对账单</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pay" role="tabpanel">
      <table class="table table-bordered table-striped print-table" style="display: inline-table;">
        <tr>
          <th width="10%">付款方</th>
          <td colspan="11">{{header}}</td>
        </tr>
        <tr>
          <th>发票抬头</th>
          <td colspan="11">{{#if view}}{{header}}{{else}}<a class="edit" href="#header">{{header}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>发票类型</th>
          <td colspan="11">{{#if view}}{{pick type types}}{{else}}<a class="edit" href="#type" data-type="select" data-options="types">{{pick type types}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>发票内容</th>
          <td colspan="11">{{#if view}}{{pick content_type content_types}}{{else}}<a class="edit" href="#content_type" data-type="select" data-options="content_types">{{pick content_type content_types}}</a>{{/if}}
          </td>
        </tr>
        <tr>
          <th>规格型号</th>
          <td colspan="11">{{size}}</td>
        </tr>
        <tr>
          <th>开票金额</th>
          <td colspan="6" class="invoice-rmb">&yen; {{readable_n income_after_total}}</td>
        </tr>
        <tr>
          <th>业务负责人</th>
          <td colspan="11">{{#if view}}{{pay_charger}}{{else}}<a class="edit" href="#pay_charger">{{pay_charger}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>手机号码</th>
          <td colspan="11">{{#if view}}{{pay_telephone}}{{else}}<a class="edit" href="#pay_telephone">{{pay_telephone}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>地址</th>
          <td colspan="11">{{#if view}}{{pay_address}}{{else}}<a class="edit" href="#pay_address">{{pay_address}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>日期</th>
          <td colspan="11">{{apply_time}}</td>
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="accept" role="tabpanel">
      <table class="table table-bordered table-striped print-table" style="display: inline-table;">
        <tr>
          <th width="10%">收款方</th>
          <td colspan="11">北京无限点乐科技有限公司</td>
        </tr>
        <tr>
          <th>开户名称</th>
          <td colspan="11">北京无限点乐科技有限公司</td>
        </tr>
        <tr>
          <th>开户银行</th>
          <td colspan="11">招商银行北京双榆树支行</td>
        </tr>
        <tr>
          <th>开户账号</th>
          <td colspan="11" id="accept-account">110909024210401</td>
        </tr>
        <tr>
          <th>业务线分类</th>
          <td colspan="11">
            <a href="#sub_status" class="edit" data-type="select" data-options="sub_statuses">{{pick sub_status sub_statuses}}</a>
          </td>
        </tr>
        <tr>
          <th>业务负责人</th>
          <td colspan="11">
            {{#if is_assistant}}
              {{#each chargers}}
                {{#equal ../charger key}}
                <a href="#charger" class="edit" data-type="select" data-list="#chargers">{{value}}</a>
              {{/equal}}
              {{/each}}
            {{else}}
              {{applicant}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>手机号码</th>
          <td colspan="11">{{#if view}}{{accept_telephone}}{{else}}<a class="edit" href="#accept_telephone">{{accept_telephone}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>地址</th>
          <td colspan="11">{{#if view}}{{accept_address}}{{else}}<a class="edit" href="#accept_address">{{accept_address}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>日期</th>
          <td colspan="11">{{apply_time}}</td>
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="extra" role="tabpanel">
      <table class="table table-bordered table-striped">
        <tr>
          <th width="10%">特批</th>
          <td>{{#if view}}{{comment}}{{else}}<a class="edit" href="#comment">{{comment}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>对账单描述</th>
          <td>{{#if view}}{{attachment_desc}}{{else}}<a class="edit" href="#attachment_desc">{{attachment_desc}}</a>{{/if}}</td>
        </tr>
        <tr>
          <th>客户对账单</th>
          <td>
            {{#if view}}
              {{#if attachment}}
                <a href="{{UPLOAD}}{{attachment}}" download="{{UPLOAD}}{{attachment}}">{{UPLOAD}}{{attachment}}
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a><br>
                <a><img src="{{UPLOAD}}{{attachment}}" class="img-thumbnail"></a>
              {{/if}}
            {{else}}
              {{#if attachment}}
                <a href="{{UPLOAD}}{{attachment}}" download="{{UPLOAD}}{{attachment}}">{{UPLOAD}}{{attachment}}
                  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a><br>
                <a class="edit" href="#attachment" data-type="file" data-append="true" data-refresh="true" data-removable="true"><img src="{{UPLOAD}}{{attachment}}" class="img-thumbnail"></a>
              {{else}}
                <a class="edit btn btn-primary" href="#attachment" data-type="file" data-append="true" data-refresh="true" data-removable="true" data-accept="*.pdf,*jpg,*png">上传对账单</a>
              {{/if}}
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<datalist id="chargers">
  {{#each chargers}}
    <option value="{{key}}">{{value}}</option>
  {{/each}}
</datalist>