<div class="form-inline table-header">
  <div class="form-group">
    <label for="search-query">搜索：</label>
    <input type="search" class="form-control" id="search-query" name="query" placeholder="关键词">
  </div>
</div>
<table class="table table-bordered smart-table responsive-table" data-url="{{API}}stat/" data-pagesize-controller="#pagesize" data-pagesize="10" data-pagination=".pagination" data-ranger=".date-range" data-start="-31" data-end="0" data-search="#search-query" data-collection-id="stat" {{#if isDianjoy}}data-params="isDianjoy=1"{{/if}}>
  <thead>
  <tr>
    <th class="filters">广告名</th>
    <th>创建时间</th>
    <th>激活数</th>
    <th>详细</th>
  </tr>
  </thead>
  <tbody>
  <script type="text/x-handlebars-template">
    {{{{raw-helper}}}}
    <tr id="{{id}}">
      <td data-title="管理名">
        <a href="#/ad_name/{{ad_name}}" class="filter label label-ad_name">{{ad_name}}</a>
      </td>
      <td data-title="创建时间"><time datetime="{{create_time}}">{{moment create_time}}</time></td>
      <td data-title="激活数">{{readable_n transfer}}</td>
      <td><a href="#/stat/{{id}}/{{start}}/{{end}}" class="btn btn-primary" title="分日统计"><i class="fa fa-calendar"></i></a></td>
    </tr>
    {{{{/raw-helper}}}}
  </script>
  </tbody>
  <tfoot class="waiting">
  <tr>
    <td colspan="4">
      <p align="center"><i class="fa fa-spin fa-spinner fa-2x"></i><br>加载中，请稍候</p>
    </td>
  </tr>
  </tfoot>
</table>
<nav class="pull-right table-footer">
  <ul class="pagination">
    <script type="text/x-handlebars-template">
      {{{{raw-helper}}}}
      <li><a href="#/to/{{prev}}"><i class="fa fa-chevron-left"></i></a></li>
      {{#each pages}}
      <li class="hidden-xs"><a href="#/to/{{index}}">{{label}}</a></li>
      {{/each}}
      <li><a href="#/to/{{next}}"><i class="fa fa-chevron-right"></i></a></li>
      {{{{/raw-helper}}}}
    </script>
  </ul>
  <div class="form-group">
    <label for="pagesize">每页显示：</label>
    <select class="form-control" id="pagesize">
      <option selected>10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>
</nav>