<form class="form-horizontal clearfix receipt-form model-editor" method="post" enctype="multipart/form-data" id="{{invoice_id}}">
  <div class="form-group">
    <label class="control-label col-sm-2">编号：</label>
    <div class="col-sm-2">
      <p class="form-control-static">{{id}}</p>
    </div>
    <label class="control-label col-sm-2">申请日期：</label>
    <div class="col-sm-2">
      <p class="form-control-static">{{apply_time}}</p>
    </div>
    <label class="control-label col-sm-2">单位：</label>
    <div class="col-sm-2">
      <p class="form-control-static">元</p>
    </div>
  </div>

  <div class="form-group receipt-detail receipt-first-row">
    <label class="control-label col-sm-2">客户名称：</label>
    <div class="form-control-static col-sm-2">
      <p id="customer" class="form-control-static">{{full_name}}</p>
    </div>

    <div class="product col-sm-8">
      <div class="col-sm-2 text-center">
        <label class="control-label">产品名称：</label>
        <a class="btn btn-primary receipt-button" title="添加">添加</a>
      </div>
      <div class="col-sm-10"  id="productContent">
        {{#each products}}
          <div class="form-control-static col-sm-3 select-button">
            <input type="checkbox" name="products[]" value="{{ad_id}}" id="{{ad_id}}" class="ad_id" checked disabled>
            <label for="{{ad_id}}">{{ad_name}}</label>
          </div>
        {{/each}}
      </div>
    </div>
  </div>


  <div class="form-group receipt-detail">
    <label for="receipt-company" class="control-label col-sm-2">开票公司：</label>
    <div class="col-sm-2 receipt-row receipt-padding">
          <p class="form-control-static">{{pick owner owners}}</p>
      <!--<select id="receipt-company" class="form-control" name="owner">-->
        <!--{{#if owner}}-->
          <!--{{#equal owner 0}}-->
            <!--<option selected value="0">点乐</option>-->
            <!--<option value="1">点乐第一公司</option>-->
          <!--{{/equal}}-->
          <!--{{#equal owner 1}}-->
            <!--<option value="0">点乐</option>-->
            <!--<option selected value="1">点乐第一公司</option>-->
          <!--{{/equal}}-->
        <!--{{else}}-->
          <!--<option selected value="0">点乐</option>-->
          <!--<option value="1">点乐第一公司</option>-->
        <!--{{/if}}-->
      <!--</select>-->
    </div>



    <label for="receipt-type" class="control-label col-sm-2">开票类型：</label>
    <div class="col-sm-2 receipt-row receipt-padding">
      <p class="form-control-static">{{pick type types}}</p>

      <!--<select id="receipt-type" class="form-control" name="type">-->
        <!--{{#if type}}-->
          <!--{{#equal type 0}}-->
            <!--<option value="1">专用票</option>-->
            <!--<option selected value="0">普通票</option>-->
          <!--{{/equal}}-->
          <!--{{#equal type 1}}-->
            <!--<option selected value="1">专用票</option>-->
            <!--<option value="0">普通票</option>-->
          <!--{{/equal}}-->
        <!--{{else}}-->
          <!--<option value="1">专用票</option>-->
          <!--<option selected value="0">普通票</option>-->
        <!--{{/if}}-->
      <!--</select>-->
    </div>
    <label for="receipt-content" class="control-label col-sm-2">开票内容：</label>
    <div class="col-sm-2  receipt-padding">
      <p class="form-control-static">{{pick content_type content_types}}</p>

      <!--<select id="receipt-content" class="form-control" name="content_type">-->
        <!--{{#if content_type}}-->
          <!--{{#equal content_type 0}}-->
            <!--<option selected value="0">信息服务费</option>-->
            <!--<option value="1">技术服务费</option>-->
            <!--<option value="2">广告发布费</option>-->
          <!--{{/equal}}-->
          <!--{{#equal content_type 1}}-->
            <!--<option value="0">信息服务费</option>-->
            <!--<option selected value="1">技术服务费</option>-->
            <!--<option value="2">广告发布费</option>-->
          <!--{{/equal}}-->
          <!--{{#equal content_type 2}}-->
            <!--<option value="0">信息服务费</option>-->
            <!--<option value="1">技术服务费</option>-->
            <!--<option selected value="2">广告发布费</option>-->
          <!--{{/equal}}-->
        <!--{{else}}-->
          <!--<option selected value="0">信息服务费</option>-->
          <!--<option value="1">技术服务费</option>-->
          <!--<option value="2">广告发布费</option>-->
        <!--{{/if}}-->
      <!--</select>-->
    </div>
  </div>

  <div class="form-group receipt-detail">
    <label for="receipt-capital-amount" class="control-label col-sm-2">发票金额：(大写：人民币)</label>
    <div class="col-sm-6 receipt-row  receipt-padding">
      <p class="form-control-static" id="receipt-capital-amount"></p>
    </div>
    <div class="col-sm-4  receipt-padding">
      <p class="form-control-static" id="receipt-amount" name="income">{{income}}</p>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <label class="control-label col-sm-2">结算期间：</label>
    <div class="col-sm-4 receipt-row  receipt-padding">
      <div class="date input-group col-sm-3 col-md-3 pull-left">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="date" class="form-control datetimepicker" name="settle_start" data-format="YYYY-MM-DD" data-date="{{#if settle_start}}{{settle_start}}{{/if}}">
      </div>
      <label class="control-label pull-left">--</label>
      <div class="date input-group col-sm-3 col-md-3 pull-left">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="date" class="form-control datetimepicker" name="settle_end" data-format="YYYY-MM-DD" data-date="{{#if settle_end}}{{settle_end}}{{/if}}">
      </div>
    </div>
    <label for="settle-method" class="control-label col-sm-2">结算方式：</label>
    <div class="col-sm-4  receipt-padding">
      <select id="settle-method" class="form-control" name="settle_type">
        {{#if settle_type}}
          {{#equal settle_type 1}}
            <option value="0">转账</option>
            <option selected value="1">现金</option>
          {{/equal}}
          {{#equal settle_type 0}}
            <option selected value="0">转账</option>
            <option value="1">现金</option>
          {{/equal}}
        {{else}}
          <option selected value="0">转账</option>
          <option value="1">现金</option>
        {{/if}}
      </select>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <div class="col-sm-12 text-center">
      <p class="form-control-static">本次结算</p>
    </div>
  </div>
  <div class="form-group receipt-detail">
    <label for="count-amount" class="control-label col-sm-3">统计数量：</label>
    <div class="col-sm-3 receipt-row  receipt-padding">
      <p id="count-amount" class="form-control-static">{{count_nums}}</p>
    </div>
    <!--<label for="actual-amount" class="control-label col-sm-2">实际数量：</label>-->
    <!--<div class="col-sm-2 receipt-row  receipt-padding">-->
    <!--<input required type="text" id="actual-amount" class="form-control" name="real_nums" value={{real_nums}}>-->
    <!--</div>-->
    <label for="percentage" class="control-label col-sm-3">应得比例：</label>
    <div class="col-sm-3 receipt-padding">
      <p class="form-control-static" id="percentage">{{proportion}}</p>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <label for="settle-amount" class="control-label col-sm-2">结算数量：</label>
    <div class="col-sm-2 receipt-row  receipt-padding">
      <p id="settle-amount" class="form-control-static">{{settle_nums}}</p>
    </div>
    <label for="price" class="control-label col-sm-2">单价（／个）：</label>
    <div class="col-sm-2 receipt-row  receipt-padding">
      <p id="price" class="form-control-static">{{price}}</p>
    </div>
    <label for="income" class="control-label col-sm-2">产生收入：</label>
    <div class="col-sm-2  receipt-padding">
      <p id="income" class="form-control-static">{{income}}</p>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <label for="applicant" class="control-label col-sm-2">申请人：</label>
    <div class="col-sm-2 receipt-row receipt-padding">
      <p class="form-control-static">{{applicant}} </p>
    </div>
    <label for="director" class="control-label col-sm-2">部门负责人：</label>
    <div class="col-sm-2 receipt-row  receipt-padding">
      <p id="director" class="form-control-static" name="charger">{{charger}}</p>
    </div>
    <label for="receipt-receiver" class="control-label col-sm-2">发票领取人：</label>
    <div class="col-sm-2  receipt-padding">
      <p id="receipt-receiver" class="form-control-static" name="receiver">{{receiver}}</p>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <div class="col-sm-12 text-center">
      <p class="form-control-static">以下由开票人员填写</p>
    </div>
  </div>

  <div class="form-group receipt-detail">
    <label for="applicant" class="control-label col-sm-2">发票号码：</label>
    <div class="col-sm-2 receipt-row receipt-padding">
      <p class="form-control-static">{{number}} </p>
    </div>
    <label for="director" class="control-label col-sm-2">开票日期：</label>
    <div class="col-sm-2 receipt-row  receipt-padding">
      <p id="director" class="form-control-static">{{handler_time}}</p>
    </div>
    <label for="receipt-receiver" class="control-label col-sm-2">开票人：</label>
    <div class="col-sm-2  receipt-padding">
      <p id="receipt-receiver" class="form-control-static">{{handler_user}}</p>
    </div>
  </div>

  <div class="form-group receipt-margin uploader fetcher" data-url="{{API}}file/" data-need-validate="true" id="app-uploader" data-name="ad_url">
    <label class="control-label col-sm-2">客户对账单：</label>
    <p class="form-control-static"><a href="{{UPLOAD}}{{attachment}}">{{attachment}}</a></p>
    <div class="col-sm-8">
      <p class="form-control-static"></p>
    </div>
  </div>

  <div class="form-group">
    <label for="approval" class="control-label col-sm-2">特批：</label>
    <div class="col-sm-10">
      <p class="form-control-static" name="comment" id="approval">{{comment}}</p>
    </div>
  </div>

</form>