<div id="login" data-mediator-class="tp.component.LoginForm">
  <div class="logos">
    <div class="logo">
      <a href="#/user/login">
        <img src="img/logo.png" alt="Logo" />
      </a>
    </div>
    {{#if isOAuth}}
    <i class="fa fa-caret-right fa-4x"></i>
    <div class="oauth">
      <span class="icon {{name}}" {{#if logo}}style="background: url({{logo}});"{{/if}}>{{capital}}</span>
    </div>  
    {{/if}}
  </div>

  <h3>{{welcome}}</h3>

  <h5>请登录</h5>

  <form action="{{api}}" class="ajax {{#if isOAuth}}oauth{{/if}}" method="post">
    <input type="hidden" name="hash" value="" id="hash">
    <input type="hidden" name="backURL" value="{{backURL}}">
    <input type="hidden" name="oauth" value="{{name}}">
    <div class="alert alert-danger alert-msg" style="display: none"></div>

    <div class="form-group">
      <label for="username">用户名</label>
      <input type="text" class="form-control" id="username" placeholder="用户名" name="username" required>
    </div>

    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" placeholder="密码" name="password" required>
    </div>

    <div class="form-group">
      <label for="verifycode">验证码</label>
      <div class="input-group">
        <span class="input-group-addon"><img src="{{verify}}" alt="验证码" title="点击刷新" id="verify-code" /></span>
        <input type="number" pattern="\d{4}" maxLength="4" size="4" name="verifycode" id="verifycode" class="form-control" placeholder="验证码" autofocus required />
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">登录 &nbsp; <i class="fa fa-play-circle"></i></button>
    </div>
  </form>


  <a href="mailto:{{admin}}" class="btn btn-default center-block"><i class="fa fa-envelope"></i> 忘记密码请联系管理员</a>

</div> <!-- /#login -->