<div class="form-inline table-header">
  <div class="form-group">
    <label for="has_agreement">是否关联合同</label>
    <select class="form-control" id="has_agreement" name="has_agreement">
      <option value="">全部</option>
      <option value="1">已关联</option>
      <option value="0">未关联</option>
    </select>
  </div>
  <div class="form-group pull-right">
    <label for="search-query">搜索：</label>
    <input type="search" class="form-control" id="search-query">
  </div>
</div>

<table class="table table-bordered table-hover responsive-table smart-table" data-url="{{API}}channel/" data-collection-id="channel" data-pagination=".pagination" data-pagesize="10" data-search="#search-query" data-key="channel" data-pagesize-controller="#pagesize" data-filter=".table-header">
  <thead>
  <tr>
    <th>广告主全称</th>
    <th>广告主简称</th>
    <th>预收款余额</th>
    <th>自助导数据</th>
    <th>查看今日数据</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <script type="text/x-handlebars-template">
    {{{{raw-helper}}}}
    <tr id="{{id}}">
      <td data-title="广告主全称">{{full_name}}</td>
      <td data-title="广告主简称">{{alias}}</td>
      <td data-title="预收款余额">&yen;{{d100 prepaid}}</td>
      <td data-title="自助导数据">
        {{#if diy_id}}
        <a href="#has_export" data-type="status" class="edit label label-{{#if has_export}}success{{else}}danger{{/if}}"><i class="fa fa-{{#if has_export}}check-square{{else}}ban{{/if}}"></i> {{#if has_export}}已开启{{else}}未开启{{/if}}</a>
        {{else}}
        <span class="label label-default"><i class="fa fa-times"></i> 未开启自助后台</span>
        {{/if}}
      </td>
      <td data-title="查看今日数据">
        {{#if diy_id}}
        <a href="#has_today" data-type="status" class="edit label label-{{#if has_today}}success{{else}}danger{{/if}}"><i class="fa fa-{{#if has_today}}check-square{{else}}ban{{/if}}"></i> {{#if has_today}}已开启{{else}}未开启{{/if}}</a>
        {{else}}
        <span class="label label-default"><i class="fa fa-times"></i> 未开启自助后台</span>
        {{/if}}
      </td>
      <td>
        <a href="#/channel/{{id}}" class="btn btn-info"><i class="fa fa-list"></i> 预收款明细</a>
      </td>
    </tr>
    {{{{/raw-helper}}}}
  </script>
  </tbody>
  <tfoot class="waiting">
  <tr>
    <td colspan="7"><p align="center"><i class="fa fa-spinner fa-spin fa-2x"></i><br>加载中，请稍候</p></td>
  </tr>
  </tfoot>
</table>

<nav class="pull-right table-footer">
  <ul class="pagination">
    <script type="text/x-handlebars-template">
      {{{{raw-helper}}}}
      <li><a href="#/to/{{prev}}"><i class="fa fa-chevron-left"></i></a></li>
      {{#each pages}}
      <li class="hidden-xs"><a href="#/to/{{index}}">{{label}}</a></li>
      {{/each}}
      <li><a href="#/to/{{next}}"><i class="fa fa-chevron-right"></i></a></li>
      {{{{/raw-helper}}}}
    </script>
  </ul>
  <div class="form-group">
    <label for="pagesize">每页显示：</label>
    <select class="form-control" id="pagesize">
      <option selected>10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>
</nav>